<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">  -->
<module configVersion="1.0">
	<id>htmlformflowsheet</id>
	<name>htmlformflowsheet</name>
	<version>1.1.6</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>PIH</author>
	<description>
		Back end functionality to do a "patient chart"-style workflow (as opposed to form-based workflow)
	</description>

	<activator>@MODULE_PACKAGE@.HtmlFormFlowsheetModuleActivator</activator>
	
	<!-- Require version 1.5 so jquery and jquery-ui are included. This could be relaxed -->
	<require_version>1.6</require_version>
	
	<require_modules>
		<require_module>org.openmrs.module.htmlformentry</require_module>
	</require_modules>
	
	
	<extension>
		<point>org.openmrs.mdrtb.formsPortlet.links</point>
		<class>org.openmrs.module.htmlformflowsheet.web.html.FormListLinks</class>
	</extension>
	<extension>
		<point>org.openmrs.patientDashboard.afterLastEncounter</point>
		<class>org.openmrs.module.htmlformflowsheet.web.html.PatientHeaderChartLinks</class>
	</extension>
	
	<globalProperty>
		<property>htmlformflowsheet.configuration</property>
		<defaultValue></defaultValue>
		<description>
		flowsheets need these three items F (which stands for flowsheet) :Title:FormId
        singletons need:           S:Title:FormId:Which         (where which is FIRST or LAST)
        pipe delimited
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>htmlformflowsheet.links</property>
		<defaultValue></defaultValue>
		<description>
		links to appear at the top of the flowsheet.  Pipe delimited.  format is   name:link
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>htmlformflowsheet.showMdrtbCatIVLink</property>
		<defaultValue>false</defaultValue>
		<description>
			adds the cat IV treatment card link to the form list in the mdrtb module.  valid values are blank, true, false
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>htmlformflowsheet.PatientChartFormIds</property>
		<defaultValue></defaultValue>
		<description>
			Comma delimited formIds of all htmlforms that are the *parent* forms for patient charts.  Do not list
				patient chart sub forms in this list.
		</description>
	</globalProperty>
	
	<dwr>
		<allow>
			<convert converter="bean" match="org.openmrs.module.htmlformflowsheet.web.dwr.HtmlFormFlowsheetDWREncounterObj"/>
			<create creator="new" javascript="HtmlFlowsheetDWR">
				<param name="class" value="org.openmrs.module.htmlformflowsheet.web.dwr.HtmlFormFlowsheetDWR"/>
				<include method="voidEncounter"/>
				<include method="getNewEncounterId"/>
				<include method="getAllEncsByPatientAndEncType"/>
			</create>						
		</allow>
		<signatures>
			<![CDATA[  ]]>
		</signatures>	
	</dwr>
	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
</module>
